@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --primary-color: #012550;
    --secondary-color: #ffffff;
}

body{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar{
    width: 95vw;
    text-align: right;
    background-color:var(--primary-color);
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.nav-items{
    color:var(--secondary-color);
    text-decoration: none;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    /* display: inline; */
}

.img{
    height: 50vh;
}

.section{
    padding: 1rem;
}

.ow{
    background-color: #E5E7EB;
}

.sub-heading{
    font-weight: bold;
    font-size:1.2rem;
}

span{
    padding: 1rem;
}

.list{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

li, .link{
    padding: 1rem;
    text-decoration: none;
}

/* .link{
    text-decoration:none;
} */

.primary-link{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color:whitesmoke;
    font-weight: bold;
    font-size:1rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.secondary-link{
    border: 2px solid var(--primary-color);
    color: black;
    font-weight: bold;
    font-size:1rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}



/* a{
    padding: 0rem 1rem 0rem 1rem;
    text-decoration: none;
    border:0.5px solid #012550;
    /* text-align: center; 
} */

.footer {
    width: 100%;
    text-align: center;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.footer .footer-link{
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
}

.footer-img{
    height: 30px;
}