@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --primary-color: #012550;
    --secondary-color: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center
}

h1{
    text-align: center;
}

/* .name{
    color: var(--secondary-color);
    text-align: left;
    display: inline;
    text-align: left;
    justify-content: left;
    align-items: left;
} */

.navbar{
    width: 95vw;
    text-align: right;
    background-color:var(--primary-color);
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.nav-items{
    color:var(--secondary-color);
    text-decoration: none;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    /* display: inline; */
}

.img{
    height: 50vh;
}

.section{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 1rem;
}

.ow{
    background-color: #E5E7EB;
    padding: 2rem;
}

.centre-container{
    font-size: 1.2rem;
}

.footer {
    width: 100%;
    text-align: center;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.footer a{
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
}

.footer-img{
    height: 30px;
}
